* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

.outer-section {
    margin: 50px;
    display: flex;
    flex-direction: column;
}

.selling-overview {
    width: 100%;
    flex-basis: 335px;

    display: flex;
    flex-direction: row;
    justify-content: space-between;
}

h1 {
    margin-bottom: 30px;
    font-size: 55px;
}

h2 {
    margin-bottom: 20px;
    font-size: 30px;
}

.total-sold {
    flex-basis: 335px;
    border: 1px solid #53AA8F;
    background-color: #F1FFFB;
    color: #53AA8F;
    height: 250px;
    border-radius: 5px;

    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.total-stock {
    flex-basis: 335px;
    border: 1px solid #25728D;
    background-color: #E1F6FE;
    color: #25728D;
    height: 250px;
    border-radius: 5px;

    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.total-to-sell {
    flex-basis: 320px;
    border: 1px solid #D34632;
    background-color: #FED8D3;
    color: #D34632;
    height: 250px;
    border-radius: 5px;

    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.total-title {
    text-align: center;
    font-size: 20px;
    margin-bottom: 30px;
    width: 170px;
}

.total-amount {
    font-size: 30px;
}

.best-selling-tv {
    border: 1px black dashed;
    border-radius: 5px;
    background-color: #EDF0EF;
    flex-basis: 350px;
    width: 100%;
    padding: 0 35px;

    display: flex;
    flex-direction: row;
    align-items: center;
}

.tv-image {
    flex-basis: 330px;
    margin-right: 35px;
}

.tv-image img {
    width: 100%;
    height: auto;
}

.tv-details {
    height: 80%;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
}

.tv-title {
    font-size: 25px;
    font-weight: bold;
}

.tv-price{
    font-size: 30px;
    font-weight: bold;
}

.tv-sizes {
    font-size: 17px;
}

.tv-info {
    font-size: 17px;

    display: flex;
    flex-direction: row;
    align-items: center;
}

.tv-info img {
    width: 15px;
    height: auto;
    margin: 0 5px;
}

.button-tvs {
    margin-top: 40px;
}

.button-tvs button {
    padding: 4px 6px;
    border-radius: 3px;
    margin-right: 10px;
}